language: python

matrix:
    include:
     - os: linux
       python: 3.5
       env: BACKEND=numpy
     - os: linux
       python: 3.6
       env: BACKEND=mxnet
     - os: linux
       python: 3.6
       env: BACKEND=pytorch
     - os: linux
       python: 3.6
       env: BACKEND=numpy DEPLOY_DOCS=1
       addons:
         apt:
           packages:
           - texlive
           - texlive-latex-extra
           - dvipng

install: 
    # Install miniconda
    - deactivate
    - wget https://repo.continuum.io/miniconda/Miniconda3-latest-Linux-x86_64.sh -O miniconda.sh;
    - bash miniconda.sh -b -p $HOME/miniconda
    - export PATH="$HOME/miniconda/bin:$PATH"
    - hash -r
    - conda config --set always_yes yes --set changeps1 no
    - conda update -q conda
    # Useful for debugging any issues with conda
    - conda info -a
    # Replace dep1 dep2 ... with your dependencies
    - conda create -q -n test-environment python=$TRAVIS_PYTHON_VERSION numpy scipy
    - source activate test-environment
    - pip install coveralls pytest pytest-cov nose
    - if [[ "$BACKEND" == "mxnet" ]]; then
        sudo apt-get -qq update;
        sudo apt-get install -y libatlas-base-dev;
        pip install mxnet;
      elif [[ "$BACKEND" == "pytorch" ]]; then
        conda install pytorch torchvision -c pytorch;
      fi
    - pip install -e .

script:
    - travis_wait make BACKEND=$BACKEND test-coverage

after_success:
    - coveralls
    - bash deploy_docs.sh
